<% include ./partials/header %> <% blogs.forEach(function(blog){ %>

<div class="ui main container">
  <h2><%= blog.title %></h2>
  <img style="width: 200px" src="<%= blog.image %>" alt="" />
  <span><%= blog.created %></span>
  <p><%= blog.body.substring(0, 100) %>...</p>
  <a href="/blogs/<%= blog._id %>">Read More</a>
</div>
<% }) %>
<!-- footer partial -->
<% include ./partials/footer %>
